```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.local
.env
.env.local
.env.*

# Testing
.pytest_cache/
.coverage
coverage/
htmlcov/

# Build/dist
build/
dist/
*.egg
*.egg-info/
```